@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

html {
  font-size: 11px;
}

body {
  font-family: "Monserrat", sans-serif;
  background-image: url("../assets/image/food-background.jpg");
  background-color: #c7baad;
}

.header {
  background-color: #f5f5f5;
  padding: 10px 0 20px 0;
  width: 100%;
}

table {
  width: 100%;
  overflow-x: auto;
  display: block;
}

div {
  max-width: 100%;
  text-align: center;
}

th {
  text-align: left;
}

img {
  max-width: 25%;
  height: auto;
}

button {
  margin: 4px;
}

#liff-login-error {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  white-space: nowrap;
}

#statusMessage {
  position: relative;
  top: 40px;
}

.textLeft {
  text-align: left;
}

.card-size {
  width: 50%;
  margin: auto;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
}

.nav {
  background-color: lightgray;
}

.nav > ul > li > button {
  background-color: lightgray;
  margin-top: 8.5px;
  border: none;
}

.table > thead > tr > th {
  padding: 60px;
}

.buttonGroup {
  position: relative;
  top: 20px;
}

.hidden {
  display: none;
}

.logo {
  text-decoration: underline overline;
  font-family: "Calistoga", "Monserrat", sans-serif;
  color: #0b7058;
}

.logo:hover {
  text-decoration: underline overline;
  font-size: 1.1em;
}

.hiddentext {
  opacity: 0;
  position: absolute;
}

footer {
  padding: 15px;
  background-color: #f5f5f5;
  color: #0b7058;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-left: -30px;
  margin-right: -30px;
}

.darkmode {
  background-image: url("../assets/image/fine-dining-background.jpg");
  background-color: black;
  background-size: cover;
}

.card-darkmode {
  color: #9eaa34;
  background-color: #4a3b28;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
}

.hiddentext {
  opacity: 0;
  position: absolute;
}

#profileImage {
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .card-size {
    width: 75%;
    margin: auto;
  }
  #profileImage {
    width: 55%;
  }
}

/* untuk ipad/tablet*/
@media screen and (max-width: 768px) {
  .card-size {
    width: 85%;
  }

  #profileImage {
    width: 65%;
  }
}

/* untuk mobile*/
@media screen and (max-width: 576px) {
  .card-size {
    width: 95%;
  }

  #profileImage {
    width: 80%;
  }
}
